server:
  port: 8888

spring:
  application:
    name: config-service

  cloud:
    config:
      server:
        git:
          uri: https://github.com/phaiecobyte/ecommerce-config.git
          default-label: main
          clone-on-start: true
          search-paths:
            - api-gateway
            - user-service
            - product-service
            - cart-service
            - order-service
            - payment-service
            - review-service
            - notification-service
            - discovery-service
